
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->

<!--<nav 
			class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1"
			style="  background-color: #003380;">
		 <div class="row">
      <div  style="background-color: transparent; width: 100%; padding-bottom: 0px; padding-top: 10px; display: block;"> <div class="pull-right tollfreescroll">
         <div class="contactno" style="color: rgb(255, 255, 255);"> 
          <span>New Policy:</span>
           <span class="tollno"><span id="contactNumber"><span id="waybeo_num" style="">
             <a href="tel:022-50061024" style="color: rgb(255, 255, 255);">022-50061024</a></span> | </span></span> <span>Customer Service:</span> <span class="tollno"><a href="tel:1860 425 0000" style="color: rgb(255, 255, 255);">1860 425 0000</a></span> <span> | Motor Claim Intimation / Crop Insurance:</span> <span class="tollno"><a href="tel:1800 568 9999" style="color: rgb(255, 255, 255);">1800 568 9999</a></span></div> </div> </div>
      
		 </div>
<div class=col-lg-7>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#">INSURANCE
							<span class="sr-only">(current)</span>
          </a></li>
        
					<li class="nav-item"><a class="nav-link" href="#">INSTA RENEW
							</a></li>
					<li class="nav-item"><a class="nav-link" href="#!account">BLOGS
              </a></li>
              <li class="nav-item"><a class="nav-link" href="#!account">ABOUT US
              </a></li>
              <li class="nav-item"><a class="nav-link" href="#!account">CONTACT US
              </a></li>
              <li class="nav-item"><a class="nav-link" href="#!account">MY TRANSACTION
              </a></li>
              <li class="nav-item"><a class="nav-item nav-link" (click)="logout()">LOGOUT
							</a></li>
				</ul>
      </div>
			</div>
    </nav>
    <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
<!-- main app container -->
 <!--<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div> 
<app-models></app-models>-->
